* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
  --transition: transform 0.75s cubic-bezier(0.075, 0.5, 0, 1);
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/raleway-regular.woff2);
}

@font-face {
  font-family: Raleway;
  src: url(../fonts/raleway-black.woff2);
  font-weight: 900;
}

body {
  background-color: #010101;
  color: #fff;
  font-family: Raleway, sans-serif;
  line-height: 1.2;
}

.content {
  will-change: transform;
}

.header {
  position: relative;
}

.header::after {
  content: '';
  position: absolute;
  z-index: 10;
  width: 100%;
  height: calc(var(--index) * 16);
  bottom: calc(var(--index) * -7.8);
  background: url(/img/ground.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.hero {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.hero__text {
  z-index: 1;
  transform: translate3d(0, calc(var(--scrollTop) / 2), 0);
  text-transform: uppercase;
  font-weight: 900;
  color: #ffefb0;
  will-change: transform;
  text-shadow: 0px 0px 10px #ffda46;
  margin-top: calc(var(--index) * -1.2);
  transition: var(--transition);
}

.hero__text-caption {
  font-size: calc(var(--index) * 1.2);
}

.hero__text-title {
  font-size: calc(var(--index) * 3.5);
}

.layer {
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;

  transition: var(--transition);
  will-change: transform;
}

.hero__base {
  background-image: url(../img/layer-base.jpg);
  transform: translate3d(0, calc(var(--scrollTop) / 1.6), 0);
  z-index: 0;
}

.hero__middle {
  background-image: url(../img/layer-middle.png);
  transform: translate3d(0, calc(var(--scrollTop) / 2.6), 0);
  z-index: 2;
}

.hero__front {
  background-image: url(../img/layer-front.png);
  transform: translate3d(0, calc(var(--scrollTop) / 6), 0);
  z-index: 3;
}

.main {
  background-image: url(/img/dungeon.jpg);
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main__content {
  padding-left: 10px;
  padding-right: 10px;
  transform: translate(0, calc(var(--scrollTop) / -7.5));
}

.main__content-title {
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 20px;
  font-size: calc(var(--index) * 2.5);
  transition: var(--transition);
}

.main__content-text {
  font-size: calc(var(--index) * 0.9);
  max-width: calc(var(--index) * 30);
  line-height: calc(var(--index) * 1.5);
  transition: var(--transition);
}
